temp

synthetic/algorithms/gennsets/gennsets
synthetic/algorithms/gennsets/src/*.o

synthetic/algorithms/num-noise/num-noise
synthetic/algorithms/num-noise/src/*.o

synthetic/algorithms/nclusterbox/nclusterbox
synthetic/algorithms/nclusterbox/src/core/*.o
synthetic/algorithms/nclusterbox/src/utilities/*.o

synthetic/algorithms/nclusterbox_no_perfomance_imp/nclusterbox
synthetic/algorithms/nclusterbox_no_perfomance_imp/src/core/*.o
synthetic/algorithms/nclusterbox_no_perfomance_imp/src/utilities/*.o

synthetic/algorithms/nclusterbox_no_subfiber_maximization/nclusterbox
synthetic/algorithms/nclusterbox_no_subfiber_maximization/src/core/*.o
synthetic/algorithms/nclusterbox_no_subfiber_maximization/src/utilities/*.o

synthetic/algorithms/tribiclusterbox/nclusterbox
synthetic/algorithms/tribiclusterbox/src/common/*.o
synthetic/algorithms/tribiclusterbox/src/nclusterbox/*.o
synthetic/algorithms/tribiclusterbox/src/paf/*.o
synthetic/algorithms/tribiclusterbox/src/utilities/*.o

nohup.out

speedup/logs
speedup/screen_logs
